body{
    background-color: #919191;
    color: #fff
    /* margin: 10%;
    padding: 10%; */
}
/* div{
    position: relative;
} */
img{
    opacity: 50%;
    display: block;
    width:100%;
}
.map{
    position: relative;
}
div .map{
    max-width:100%;
    display: block;
}
.pin{
    position:absolute;
    width:15px;
    height:15px;
    border:1px solid
    
}
#pr1{
    top: 20%;
    right: 50%;
}

#pr2{
    top: 30%;
    right: 55%;
}
#pr3{

    top: 40%;
    right: 33%;
}
#pr4{
    top: 85%;
    right: 23%;
}
#pr5{
    top: 10%;
    right: 18%;
}
#list{
    max-height:120px;
    overflow-y: scroll;
}