body{
    background-color: #6f6f6f;
    color: #fff
    /* margin: 10%;
    padding: 10%; */
}
/* div{
    position: relative;
} */
img{
    opacity: 50%;
    display: block;
    width:100%;
}
.map{
    position: relative;
}
div .map{
    max-width:100%;
    display: block;
}
.pin{
    position:absolute;
    width:3%;
    height:4%;
    border: solid 1px white;
    background-size: 3% 4%;
    background-image: url("/images/pin.png");
    background-repeat: no-repeat;
    cursor: pointer;

}
#pr1{
    top: 20%;
    right: 50%;
}

#pr2{
    top: 30%;
    right: 55%;
}
#pr3{

    top: 40%;
    right: 33%;
}
#pr4{
    top: 85%;
    right: 23%;
}
#pr5{
    top: 10%;
    right: 18%;
}
#list{
    max-height:250px;
    overflow-y: scroll;
}
#list div:nth-child(odd){
background-color: #6f6f6f;
}